 body>#root > div {
    min-height: 100vh;
}
option{
    background: rgba(33, 160, 37, 0.3) ;
}
.bgimg{
    background-image: url("./img/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}