.log{width: 70vh;
    height: 80vh;
    background-color: rgb(29, 137, 196);
    padding-top: 10px;
    margin: auto;
    border: hidden;
    border-radius: 25px;
}
body{
    background-color: rgb(171, 188, 202);
}
.Container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.rem-for{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
h1{
    font-weight: 900;
}
#logo-m{
    height:80px;
    width:80px;
    border: hidden;
    border-radius: 5px;
    border-radius: 10px;
    padding-top: 10px;
}
.title{
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
    padding: 15px;
}
.in{
    width: 280px;
    background: transparent;
    border-bottom: 2px;
    border-style: solid;
    font-size: medium;
    font-weight: 600;
    color: black;
}
::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
.btn{
    color:rgb(127, 116, 164);
    width:200px;
    height: 35px;
    border: hidden;
    border-radius: 5px;
    background-color: rgb(11, 11, 225);
    margin-top: 20px;
    font-weight: 600;

}
.inp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.inputBox{
    width: 260px;
    display: flex;
    justify-content: space-between;
}
.occp{
    border: hidden;
    border-radius: 5px;
    background-color: rgb(29, 137, 196);
    color:rgb(162, 193, 221);
    font-weight: 600;
}
.opt{
    width: 270px;
}
Link{
    font-style: italic;
}